* {
    box-sizing: border-box;
  }

body{
    background-color: silver;
    font: 1em/150% Georgia;
}

#immagine{
    width: 40%; 
    height: 40%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 5px;
}
#page {
    margin: auto;
    width: 90%;
}

#titoloPagina{
    height: auto;
    width: auto;
    text-align: center;
    color: silver;
    background-color: #0a2f59;
    padding: 15px;
}
nav{
    background-color: #0a2f59;
    color:white; 
    text-align: center;
}

nav li{
    display: inline-block;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;	
}
a{
color: white;
text-decoration: none;	
padding-right: 30px;
padding-left: 30px;

}
a:hover{
    text-decoration: underline;
}
nav li:hover{
    background-color: #376d9b;
}

#presentazioneCorso{
    color: white;
    background-color: #0a2f59;
    height: auto;
    width: auto;
    text-align: center;
    padding: 5px;
}

.box{
    background-color: #1c6ec0;
    border: solid 5px #0a2f59;
    color: white;
}
#Corso{
    float: left;
    color: white;
    background-color: #1c6ec0;
    width: 33%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 5px #0a2f59;
}

#tabella{
    margin-top: 20px;
    color: white;
    background-color: #1c6ec0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    border: solid 5px #0a2f59;
    
}

footer{
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: #0a2f59;
    text-align: center;
}
@media only screen and (max-width:500px) {
    #Corso,#tabella {
      width:100%;
    }
    #immagine{
    width: 100%;
    height: 100%;
    display: unset;
    margin-left: 0%;
    margin-right: 0%;
}
}

